<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/gatitos.css">
  <title>Document</title>
</head>

<body>
  <%- include('partials/header') %>

  <main>
    <table class="tabla">
      <tr>
        <th colspan="5">Gatitos</th>
      </tr>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Clanes</th>
        <th>Territorios</th>
        <th>Experiencia</th>
      </tr>
      <tr>
        <td>Felix</td>
        <td>Socketpaw</td>
        <td>Clan Backend</td>
        <td>Bosques Binarios</td>
        <td>maestro</td>
      </tr>
    </table>
  </main>

  <%- include('partials/footer') %>
</body>

</html>
