<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/gatitos.css">
  <title>Document</title>
</head>

<body>
  <%- include('partials/header') %>
    <main>
      <table class="table">
        <tr>
          <th>gatitos</th>
        </tr>
        <tr>
          <th>nombre</th>
          <th>apellido</th>
          <th>clanes</th>
          <th>territorios</th>
          <th>experiencia</th>

        </tr>
        <tr>
          <td>Felix</td>
          <td>Socketpaw</td>
          <td>Clan Backend</td>
          <td>Bosques Binarios</td>
          <td>maestro</td>
        </tr>
        <tr>

    </main>
    <%- include('partials/footer') %>
</body>

</html>