<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Document</title>
</head>

<body>
    <%- include('partials/header') %>
        <main>
            <div class="centrar">
                <div class="container-central">
                    <h1>Login</h1>
                    <form action="/login" method="post" class="formulario-login">
                        <label for="nombre_usuario">nombre:</label>
                        <input type="text" id="nombre_usuario" name="nombre_usuario">

                        <label for="contraseña">contraseña:</label>
                        <input type="password" id="contraseña" name="contraseña">

                        <label for="correo">email:</label>
                        <input type="email" id="correo" name="correo">

                        <button type="submit" class="boton-acceder"> <span
                                class="material-icons">login</span>Acceder</button>
                        <a href="/register">¿No tienes cuenta?</a>
                    </form>
                </div>
            </div>
        </main>
        <%- include('partials/footer') %>
            <script>
                const formulario = document.querySelector('.formulario-login');
                const accederBtn = formulario.querySelector('.boton-acceder');
                const campos = formulario.querySelectorAll('input');

                function verificarCamposLlenos() {
                    let todosLlenos = true;
                    campos.forEach(campo => {
                        if (!campo.value.trim()) {
                            todosLlenos = false;
                        }
                    });
                    accederBtn.disabled = !todosLlenos;
                }

                campos.forEach(campo => {
                    campo.addEventListener('input', verificarCamposLlenos);
                    campo.addEventListener('change', verificarCamposLlenos);
                });

                window.addEventListener('DOMContentLoaded', verificarCamposLlenos);
            </script>
</body>

</html>