<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('partials/header') %>
        <form action="/logins" method="post">
            <label for="nombre_usuario">nombre:</label>
            <input type="text" id="nombre_usuario" name="nombre_usuario">

            <label for="contrase単a">contrase単a:</label>
            <input type="password" id="contrase単a" name="contrase単a">

            <label for="correo">email:</label>
            <input type="email" id="correo" name="correo">

            <button type="submit">enviar</button>
        </form>
</body>

</html>