.body {
    margin: 0;
    /* espacio exterior | |*/
    padding: 0;
    /*interior | aca 10px auto 10px defina altura y abajo , el otro hacia los lados |*/
}

.header {
    background-color: #f2ede1;
    /*para dar color al fondo */
}

.container-colum-3 {
    display: grid;
    /* dar cuadrilla  abajo columnas  */
    grid-template-columns: 1fr auto 1fr;
    place-items: center;
    /*centra contenido*/
}

.container-logo {
    margin: 10px auto;
    margin-right: 200px;
    /* empuja a la izquierda el de abajo hacia la derecha*/
    margin-left: 10px;
    padding: 0%;
    background-color: #f9f9f9;
    width: 60px;
    /*ancho*/
    text-align: center;
    /*centra contenido texto*/
    border-radius: 10px;
}

.container-logo img {
    display: block;
    width: 100%;
    /*ocupa ancho del contenido*/
    border-radius: 10px;
}

.lista_nav {
    display: flex;
    /* displey de fila*/
    list-style: none;
    align-items: center;
    /* Alinea ítems verticalmente */
    padding: 0;
    margin: 0px;
    gap: 50px;
}

.lista_nav li {
    font-size: 19px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.lista_nav li a {
    text-decoration: none;
    color: white;
}

.div_login_regiter {
    display: flex;
    align-items: center;
    gap: 35px;
    /* espacio entre login y regiter*/
}

.icon-link {
    display: flex;
    /* icono + texto horizontal*/
    align-items: center;
    /* items centro */
    gap: 5px;
    /* espacio entre icono texto*/
    text-decoration: none;
    /* quitar decoracion a la etiqueta a*/
    color: white;
    /*color texto */
    padding: 6px 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.icon-link:hover {
    background-color: darkorange;
}

/* header de usuario admin conectado */
.div_login {
    position: relative;
    /* referencia para el menú */
    display: inline-block;
}

.menu_perfil {
    position: absolute;
    /* este se va a justar segun el relative mas cercano y tomata su posicion */
    background-color: #333;
    margin-top: 37px;
    padding: 10px;
    border-radius: 5px;
    align-content: center;
    flex-direction: column;
    /* para que este en columna*/
    display: none;
    gap: 10px;
    width: max-content;
    /* para usar todo el espacio segun el contenido*/
    list-style: none;
}

.menu_perfil p {
    text-align: center;
    color: white;
}

.menu_perfil li {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.menu_perfil li p {
    display: flex;
    align-items: center;
    color: white;
    gap: 5px;
    margin: 0;
    padding: 0;
}

.menu_perfil li a {
    color: #f9f9f9;
    text-decoration: none;
    /* quitar decoracion a la etiqueta a*/
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}