<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Document</title>
</head>
<body class="body">
    <footer class="footer">
        <div class="container">
            <div class="container-redes">
                <h3>Redes</h3>
                <ul>
                    <li><a href="https://www.instagram.com/nulcatia/">Instagram</a></li>
                </ul>
            </div>
            <div class="container-expolorar">
                <h3>Explorar</h3>
                <ul>
                    <li> <a href="/gatitos"> Gatitos</a></li>
                    <li> <a href="clanes"> Clanes</a></li>
                    <li> <a href="pergaminos">Pergaminos</a></li>
                    <li> <a href="territorios">Territorios</a></li>
                </ul>
            </div>
            <div class="container-contenido">
                <h3>Contenido</h3>
                <p>Esta pagina presenta diferentes vistas para administrar el gran reino de Nulcatia permitiendo organizar los clanes, gatitos, pergaminos y los territorios del reino Nulcatia</p>
            </div>
        </div>
    </footer>
</body>
</html>