<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>

<body class="body">
    <% if(!usuario) { %>
        <header class="header">
            <div class="container-colum-3">
                <div class="container-logo">
                    <a href="/home"><img src="/image/nulcatia.png" alt="nuncatia"></a>
                </div>
                <nav>
                    <ul class="lista_nav">
                        <li> <a href="/gatitos"> gatitos</a></li>
                        <li> <a href="/clanes"> clanes</a></li>
                        <li> <a href="/pergaminos">pergaminos</a></li>
                        <li> <a href="/territorios">territorios</a></li>
                    </ul>
                </nav>
                <div class="div_login_regiter">
                    <a href="/login" class="icon-link">
                        <span class="material-icons">login</span>login
                    </a>
                    <a href="/register" class="icon-link"> <span class="material-icons">person_add</span>register</a>
                </div>
            </div>
        </header>
        <% } else {%>
            <header class="header">
                <div class="container-colum-3">
                    <div class="container-logo">
                        <a href="/home"><img src="/image/Gp5M403W4AA8KjP.jpg" alt="nuncatia"></a>
                    </div>
                    <nav>
                        <ul class="lista_nav">
                            <li> <a href="/gatitos"> gatitos</a></li>
                            <li> <a href="/clanes"> clanes</a></li>
                            <li> <a href="/pergaminos">pergaminos</a></li>
                            <li> <a href="/territorios">territorios</a></li>
                        </ul>
                    </nav>
                    <div class="dropdown div_login">
                        <a href="#" onclick="toggleMenu(event)">
                            <span class="material-icons" style="font-size: 25px; color: white;">account_circle</span>
                        </a>

                        <ul class="menu_perfil" id="menu_perfil">
                            <li>
                                <p><span class="material-icons">badge</span>
                                    <%= usuario.nombre_usuario %>
                                </p>
                            </li>
                            <li>
                                <a href="/perfil" class="icon-link">
                                    <span class="material-icons">person</span> Ver perfil
                                </a>
                            </li>
                            <li>
                                <a href="/logout" class="icon-link">
                                    <span class="material-icons">logout</span> Cerrar sesión
                                </a>
                            </li>
                        </ul>
                    </div>

                    <script>
                        function toggleMenu(e) {
                            e.preventDefault();
                            document.getElementById("menu_perfil").classList.toggle("show");
                        }

                        window.onclick = function (event) {
                            if (!event.target.closest('.dropdown')) {
                                document.getElementById("menu_perfil").classList.remove("show");
                            }
                        }

                    </script>
                </div>
            </header>
            <% } %>
</body>

</html>