<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>

<body class="body">
    <% if(!usuario) { %>
        <header class="header">
            <div class="container-colum-3">
                <div class="container-logo">
                    <a href="home"><img src="image/Gp5M403W4AA8KjP.jpg" alt="nuncatia"></a>
                </div>
                <nav>
                    <ul class="lista_nav">
                        <li> <a href="clanes"> clanes</a></li>
                        <li> <a href="pergaminos">pergaminos</a></li>
                        <li> <a href="territorios">territorios</a></li>
                    </ul>
                </nav>
                <div class="div_login_regiter">
                    <a href="/logins" class="icon-link">
                        <span class="material-icons">login</span>login
                    </a>
                    <a href="/register" class="icon-link"> <span class="material-icons">person_add</span>register</a>
                </div>
            </div>
        </header>
        <% } else if(usuario.rol=='admin' ) {%>
            <header class="header">
                <div class="container-colum-3">
                    <div class="container-logo">
                        <a href="home"><img src="image/Gp5M403W4AA8KjP.jpg" alt="nuncatia"></a>
                    </div>
                    <nav>
                        <ul class="lista_nav">
                            <li> <a href="gatitos"> gatitos</a></li>
                            <li> <a href="clanes"> clanes</a></li>
                            <li> <a href="pergaminos">pergaminos</a></li>
                            <li> <a href="territorios">territorios</a></li>
                        </ul>
                    </nav>
                    <div class="div_login">
                        <span class="material-icons">account_circle</span>
                        <div class="menu-invicibe">
                            <ul>
                                <li>
                                    <%= usuario.nombre_usuario %>
                                </li>
                                <li><a href="perfil"> ver perfil</li>
                                <li><a href="logout">cerrar sesion</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <% } else { %>
                <header class="header">
                    <div class="container-colum-3">
                        <div class="container-logo">
                            <a href="home"><img src="image/Gp5M403W4AA8KjP.jpg" alt="nuncatia"></a>
                        </div>
                        <nav>
                            <ul class="lista_nav">
                                <li> <a href="clanes"> clanes</a></li>
                                <li> <a href="pergaminos">pergaminos</a></li>
                                <li> <a href="territorios">territorios</a></li>
                            </ul>
                        </nav>
                        <div class="div_login">
                            <span class="material-icons">account_circle</span>
                            <div class="menu-invicibe">
                                <ul>
                                    <li>
                                        <%= usuario.nombre_usuario %>
                                    </li>
                                    <li><a href="perfil"> ver perfil</li>
                                    <li><a href="logout">cerrar sesion</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </header>
                <% } %>
</body>

</html>