<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% if(!usuarios) { %> 
    <header>
        <div>
            <nav>
                <div>
                    <ul>
                        <li>clanes</li>
                        <li>pergaminos</li>
                        <li>territorios</li>
                    </ul>
                </div>
                <div>
                    <button>login</button>
                    <button>register</button>
                </div>
            </nav>
        </div>
    </header>
    <% } else if(usuario.rol = 'admin') {%>
    <header>
        <div>
            <nav>
                <div>
                    <ul>
                        <li>gatitos</li>
                        <li>clanes</li>
                        <li>pergaminos</li>
                        <li>territorios</li>
                    </ul>
                </div>
                <div>
                    <button>perfil</button>
                    <div>
                        <ul> 
                            <li>Nombre</li>
                            <li>Ver perfil</li>
                            <li>cerrar sesion</li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <% } else { %> 
    <header>
        <div>
            <nav>
                <div>
                    <ul>
                        <li>clanes</li>
                        <li>pergaminos</li>
                        <li>territorios</li>
                    </ul>
                </div>
                <div>
                    <button>perfil</button>
                    <div>
                        <ul> 
                            <li>Nombre</li>
                            <li>Ver perfil</li>
                            <li>cerrar sesion</li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <% } %>
</body>

</html>